<div class="cart-partial">
  <div class="cart-partial-img">
    <a href="/cart/detail/{{this._id}}">
      <img src="{{this.imageUrl}}" alt="{{this.name}}" />
    </a>
  </div>
  <div class="cart-partial-info">
    <div class="cart-partial-sell">
      <p class="cart-product-name">{{this.name}}</p>
      <p>{{this.price}} €</p>
    </div>
    <div class="cart-partial-add">
      {{#if this.quantity}}
      <a href="/cart/remove/{{this._id}}/checkout" class="cartIcon">-</a>
      <p class="cartQuantity">{{this.quantity}}</p>
      {{/if}}
      <a href="/cart/add/{{this._id}}/checkout" class="cartIcon">
        +
      </a>
    </div>
  </div>
</div>