<div class="cart-partial">
    {{#if this.imageUrl}}
    <div class="cart-partial-img">
        <img src="{{this.imageUrl}}" alt="{{this.name}}">    
    </div>
    {{/if}}
    <div class="cart-partial-info">
        <div class="cart-partial-sell">
            <p class="cart-product-name">{{this.name}}</p>
            <p>{{this.price}} €</p>
        </div>
        <a href="/menu/{{_id}}" class="edit-product">Edit</a>  
    </div>
  
</div>
