<h1>Hello there user</h1>
<p>Username:{{username}}</p>
<p>Surname: {{surname}}</p>
<p>Direction: {{direction}}</p>
<p>Email: {{email}}</p>
<p>Phone Number: {{phoneNumber}}</p>
<p>Payment Card: {{paymentCard}}</p>

<a href="/">Home</a>
<a href="/user/profile/edit">Edit your info!</a>
<a href="/user/profile/delete">Delete your account</a>