<div id="user-edit-container">
  <form action="/user/profile/edit" method="POST">

    <div class="user-edit-info">
      <label class="field-type-edit">User name</label>
      <input
        class="field-info-edit"
        type="text"
        name="username"
        value="{{user.username}}"
        required
      />
    </div>

    <div class="user-edit-info">
      <label class="field-type-edit">Surname</label>
      <input
        class="field-info-edit"
        type="text"
        name="surname"
        value="{{user.surname}}"
        required
      />

    </div>

    <div class="user-edit-info">
      <label class="field-type-edit"> Direction</label>
      <input
        class="field-info-edit"
        type="text"
        name="direction"
        value="{{user.direction}}"
        required
      />

    </div>
    <div class="user-edit-info">
      <label class="field-type-edit"> Email</label>
      <input
        class="field-info-edit"
        type="email"
        name="email"
        value="{{user.email}}"
        required
      />

    </div>
    <div class="user-edit-info">
      <label class="field-type-edit"> Phone number</label>
      <input
        class="field-info-edit"
        type="number"
        name="phoneNumber"
        value="{{user.phoneNumber}}"
        required
      />

    </div>
    <div class="user-edit-info">
      <label class="field-type-edit"> Payment Card</label>
      <input
        class="field-info-edit"
        type="number"
        name="paymentCard"
        value="{{user.paymentCard}}"
        required
      />

    </div>
    <div class="user-edit-info">
      <label class="field-type-edit"> Password</label>
      <input
        class="field-info-edit"
        type="password"
        name="password1"
        placeholder="********"
        required
      />

    </div>
    <div class="user-edit-info">
      <label class="field-type-edit"> Confirm password</label>
      <input
        class="field-info-edit"
        type="password"
        name="password2"
        placeholder="********"
        required
      />
    </div>

    {{#if error}}
      <p style="color: red;">{{error}}</p>
    {{/if}}

    <button
      class="user-interactions-accept user-accept"
      type="submit"
    >Done</button>

  </form>
</div>