<p>Name: {{this.name}}</p>
<p>Email: {{email}}</p>
<p>Direction: {{direction}}</p>
<p>Phone number: {{phoneNumber}}</p>
<p>Description: {{description}}</p>
<p>Image:</p>
<img src="{{imageUrl}}" alt="{{name}}">

<a href="/restaurant/profile/edit">Edit profile</a>
<a href="/restaurant/products">Edit menu</a>
<a href="/restaurant/profile/delete">Delete profile</a>