<div id="container">
    <div id="restaurant-title">
      <div id="restaurant-img-container">
        <img src="{{restaurant.imageUrl}}" alt="restaurant dish" id="restaurant-img">
      </div>
      <div id="restaurant-info">
        <div id="restaurant-logo-container">
         <img src="{{restaurant.logoUrl}}" alt="restaurant logo" id="restaurant-logo">
        </div>
        <div id="restaurant-description">
           <h2 id="restaurant-name">{{restaurant.name}}</h2>
           <h2>{{restaurant.description}}</h2>     
       </div>
      </div>
    </div>

    <div class="category-and-products">
        <h3 class="category">Drinks</h3>
        {{#each drinks}}
         {{> cartPartial}}
        {{/each}}
    </div>

    <div id="bloque">
    <h3 class="category">Dishes</h3>
     {{#each starters}}
        {{> cartPartial}}
     {{/each}}
    </div>

    <div id="bloque">
     <h3 class="category">Starters</h3>
     {{#each dishes}}
        {{> cartPartial}}
      {{/each}}
    </div>

    <div id="bloque">
     <h3 class="category">Desserts</h3>
     {{#each desserts}}
        {{> cartPartial}}
     {{/each}}
    </div>

    <div id="cart">
      <a href="/cart/view/{{restaurant._id}}">See your cart!</a>
    </div>
</div>

